.selection_wrap {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(34deg, #9940f1 21%, #5740ee 78%);
  display: flex;
  align-items: center;
}

.content_wrap > img {
  width: 89%;
  height: 20rem;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  position: fixed;
  bottom: 0;
}

.gender_selection {
  width: 100%;
  height: 30vh;
  /* margin: 290.9px 0 0; */
  padding: 24px 39px 39px 35px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: #26272b;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.genders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
  margin-top: 3vh;
}

.selection_title {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #ffefef;
}

.female,
.male {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.female_img {
  padding: 4px;
  width: 85px;
  height: 85px;
  background-color: rgba(236, 68, 133, 0.34);
  border-radius: 50%;
}

.male_img {
  width: 98px;
  height: 98px;
  /* background-color: rgba(236, 68, 133, 0.34);
  border-radius: 50%; */
}

.male_wrap,
.female_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.female_wrap {
  gap: 5px;
}

.male_wrap {
  margin-bottom: 6px;
}
